{% extends 'base.html.twig' %}

{% block content %}
    <h1>
        Job Tracker
    </h1>
    <hr>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>
                    Added At
                </th>
                <th>
                    Pickup
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Cargo
                </th>
                <th>
                    Estimated Income
                </th>
                <th>
                    Trailer Wear
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        {% for job in jobs %}
            <tr {% if job.cancelled and not loop.first %}style="opacity: 0.4;"{% endif %}>
                <td>
                    {{ job.addedAt|date('r') }}
                </td>
                <td>
                    {{ job.pickupCompany }} <strong>in</strong> {{ job.pickupCity }}
                </td>
                <td>
                    {{ job.destinationCompany }} <strong>in</strong> {{ job.destinationCity }}
                </td>
                <td>
                    {{ job.cargo }}
                </td>
                <td>
                    {{ job.estimatedIncome }}
                </td>
                <td>
                    {{ job.trailerWear }}
                </td>
                <td class="text-uppercase">
                    {% if loop.first %}
                        {% if job.inProgress %}
                            <span class="badge badge-primary">In Progress</span>
                        {% else %}
                            <span class="badge badge-secondary">Not Started</span>
                        {% endif %}
                    {% elseif job.cancelled %}
                        <span class="badge badge-warning">Cancelled</span>
                    {% else %}
                        <span class="badge badge-success">Completed</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
